Django==1.4.1
South==0.7.6
django_compressor==1.2
cssmin==0.1.4
jsmin==2.0.2
django-registration
python-memcached
redis-completion
django-taggit
py-bcrypt
psycopg2==2.4.5
django-supervisor
django-htmlmin
gunicorn
boto
