body {
  padding-top: 55px;
  padding-bottom: 40px;
}

.well {
  margin-bottom: 10px;
}

.tabs ul {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 0;
  margin: 0;
}

.tabs li {
  display: inline-block;
  padding: 0 15px 0;
}

.tabs li.active {
  border-top: 2px solid #bbb;
  border-left: 2px solid #bbb;
  border-right: 2px solid #bbb;

  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}

.pins {
  top: 55px;
  left: 0;
  margin-left: -35px;
  position: relative;
  background: #eee;
  z-index: 100;
}

.pin {
  background: #404040;
  width: 210px;
  float: left;
  border: 1px solid #ccc;
  padding: 20px;
  position: relative;
}

.pin img {
  width: 210px;
  padding: 0;
  margin: 0;
}

.pin p {
  margin-bottom: 0;
  padding-top: 15px
}

.pin a {
  font-weight: bold;
  font-size: 16px;
}

.pin span.details {
  color:#bbb;font-size:12px;
}
.pin span.details a {
  color:#ddd;font-weight:bold;
  font-size: 12px;
}

.toptext .login-plea {
  float: left;

}

.toptext .login-plea a {
  text-decoration: underline;
}

.add-loot {
  float: right;
  margin-top: 8px;
}

.nothing-saved {
  position: relative;
  float: left;
  top: 50px;
  left: 10px;
}

.nothing-saved a {
  text-decoration: underline;
}

#add-item .image-container img {
  width: 300px;
  height: auto;
}

.delete-pin {
  float:right;
  position: relative;
  top: 0;
  right: 0;

}
