body {
  padding-top: 30px;
  padding-bottom: 40px;
}

.main-page-loader {
  position: fixed;
  top: 300px;
  left: 50%;
  margin-left: -50px;
}

#welcome {
  margin: 10px;
}

.fixed-top-container {
  padding-top: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #141414;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
  padding-bottom: 0;
}

.tabs ul {
  float: left;
  display: inline;
  padding: 0;
  margin: 0;
}

.tabs li {
  display: inline-block;
  padding: 0 15px 0;
}

.tabs li.active {
  border-top: 2px solid #bbb;
  border-left: 2px solid #bbb;
  border-right: 2px solid #bbb;

  -moz-border-radius-topleft: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  border-top-right-radius: 5px;
}

.pins {
  /*top: 55px;*/
  left: 0;
  position: relative;
  margin: 0 auto;
  display:none;
}

.pin {
  background: #404040;
  width: 250px;
  float: left;
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 8px;
}

.pin img {
  width: 250px;
  padding: 0;
  margin: 0;
}

.pin p {
  margin-bottom: 0;
  padding-top: 15px
}

.pin a {
  font-weight: bold;
  font-size: 16px;
}

.pin span.details {
  color:#bbb;font-size:12px;
}
.pin span.details a {
  color:#ddd;font-weight:bold;
  font-size: 12px;
}

.pin .delete-pin {
  float:right;
  position: absolute;
  top: -3px;
  right: 2px;
  font-size: 18px;
  color: #aaa;
}

.pin .delete-pin a:hover {
  color: red;
  text-decoration: none;

}

.toptext .inline-blurb {
  float: left;
  padding-top: 12px;
  margin-left: 5px;
  margin-bottom: 0;
}

.toptext .inline-blurb a {
  text-decoration: underline;
}

.toptext .inline-blurb form {
  margin: 0;
}

.user-operations {
  float: right;
  position: fixed;
  right: 120px;
  padding-bottom: 12px;
  margin: 0;
}

.user-operations form {
  margin: 0;
}


.stats {
  position: relative;
  float: left;
  display: inline;
}

.nothing-saved {
  text-align: center;
}

.nothing-saved a {
  text-decoration: underline;
}

#add-item .image-container img {
  width: 300px;
  height: auto;
}

/* bootstrap modifications (temporary until I recompile it */
.modal {
  background-color: #232323;
}

.fancybox-skin {
  background-color: #404040;
  color: #ccc;
}

.fancybox-skin .wants-and-haves a {
  text-decoration: underline;
}

.fancybox-skin .wants-and-haves a:hover {
  text-decoration: underline;
  color: #80B89E;
}

.fancybox-skin h3 {
  line-height: 1.1em;
}

.fancybox-skin .attribution {
  position: absolute;
  right: 4px;
  float: right;
  top: -20px;

}

.quick-message {
  width: 200px;
  background-color: #fff;
  color: #404040;
  font-weight: bold;
  text-align: center;
  padding: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-top: -50px;
  margin-left: -100px;
  z-index: 9001;
  -moz-border-radius:12px; -webkit-border-radius:12px;
}

.quick-message a {
  color: #404040;
  text-decoration: underline;
}

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}
