{% extends "main/base.html" %}

{% block content %}
<div class="about" style="font-size:16px;margin: 25px;">
<h1>About World of Loot</h1>
<p>
World of Loot is an experimental fan site that attempts to provide a more visual twist to loot and mount wishlists.  If you have suggestions or feedback, please email admin@worldofloot.com.
</p>
<p>
Although we are not affiliated with Wowhead or ZAM, this site <strong>would not be possible</strong> without <a href="http://wowhead.com">Wowhead</a> and its users!
</p>
<p>
<img src="http://wowimg.zamimg.com/images/logos/powered.png"/>
</p>
</div>
{% endblock %}
