{% load compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>World of Loot - Mount, Gear, and Transmog Wishlists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/black-tie/jquery-ui.css" type="text/css" media="all" />
    {% compress css %}
    <link href="/media/css/bootstrap.css" rel="stylesheet">
    <link href="/media/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/media/css/jquery.fancybox.css" type="text/css" media="all" />
    <link href="/media/css/main.css" rel="stylesheet">
    {% endcompress %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    -->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">world of loot</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/about">About</a></li>
              {% if user.is_authenticated %}
              <li><a href="#">Logged in as {{ user.username }}.</a></li>
              <li><a href="/logout">Logout</a></li>
              {% endif %}
            </ul>
            <ul class="nav pull-right">
              <li class="active"><a href="#" class="js-login">Sign In</a></li>
              <li class="active"><a href="#" class="js-login">Register</a></li>
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div>
      {% block content %}{% endblock %}
      </div>

    {% block bottom %}
    {# Login/register modal #}
    <div class="modal hide" id="login-register-modal" tabindex="-1" role="dialog" aria-labelledby="login-register-label" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="login-register-label">Login or Register</h3>
      </div>
      <div class="modal-body">
        <form class="form form-inline">
          <input id="login-register-username" type="text" class="input-small" placeholder="Username">
          <input id="login-register-password" type="password" class="input-small" placeholder="Password">
          {% csrf_token %}
          <label class="checkbox">
            <input id="login-register-remember-me" type="checkbox" checked> Remember me
          </label>
          <a href="#" class="btn submit">Sign in/Register</a>
        </form>
      </div>
    </div>
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>

    {% compress js %}
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/jquery.imagesloaded.min.js"></script>
    <!--
    <script src="/media/js/jquery.wookmark.min.js"></script>
    -->
    <script src="/media/js/jquery.cookie.js"></script>
    <script src="/media/js/jquery.fancybox.js"></script>
    <script src="/media/js/jquery.masonry.min.js"></script>
    <script src="/media/js/util.js"></script>
    <script src="/media/js/auth.js"></script>
    <script src="/media/js/items.js"></script>
    <script src="/media/js/item_modal.js"></script>
    <script src="/media/js/main.js"></script>
    {% endcompress %}
    <script type="text/javascript" src="https://static.wowhead.com/widgets/power.js"></script>

<!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
mixpanel.init("16cf9071dcb9c32413f4198eed6c35d8");</script><!-- end Mixpanel -->

  </body>
</html>
