{% extends "main/lootview.html" %}

{% block pins %}
  <div class="pin">
    <img src="http://wow.zamimg.com/uploads/screenshots/normal/259563.jpg" width="230"/>
    <p>
    <a href="#" rel="item=33283">Cape of the Gnomes</a>
    </p>
    <span class="details">
      50 people <a href="#">want</a>,
      26 people <a href="#">have</a>.
    </span>
  </div>
  <div class="pin">
    <img src="http://wow.zamimg.com/uploads/screenshots/normal/116799.jpg" width="230"/>
    <p>
    <a href="#" rel="item=33283">Plagued Proto-Drake</a>
    </p>
    <span class="details">
      150 people <a href="#">want</a>,
      5 people <a href="#">have</a>.
    </span>
    </a>
  </div>
  <div class="pin">
    <img src="http://wow.zamimg.com/uploads/screenshots/normal/91354.jpg" width="230"/>
    <p>
    <a href="#" rel="item=33283">Amani Punisher</a>
    </p>
    <span class="details">
      12 people <a href="#">want</a>,
      3 people <a href="#">have</a>.
    </span>
    </a>
  </div>
  <div class="pin">
    <img src="http://wow.zamimg.com/uploads/screenshots/normal/88749.jpg" width="230"/>
    <p>
    <a href="#" rel="item=33283">Bulwark of Azzinoth</a>
    </p>
    <span class="details">
      32 people <a href="#">want</a>,
      13 people <a href="#">have</a>.
    </span>
    </a>
  </div>
  <div class="pin">
    <img src="http://wow.zamimg.com/uploads/screenshots/normal/269574.jpg" width="230"/>
    <p>
    <a href="#" rel="item=33283">Amani War Bear</a>
    </p>
    <span class="details">
      33 people <a href="#">want</a>,
      1 person <a href="#">has</a>.
    </span>
    </a>
  </div>
  <div class="pin">
    <img src="http://wow.zamimg.com/uploads/screenshots/normal/228158.jpg" width="230"/>
    <p>
    <a href="#" rel="item=33283">Thor'idal, Stars' Fury</a>
    </p>
    <span class="details">
      8 people <a href="#">want</a>,
      2 people <a href="#">have</a>.
    </span>
    </a>
  </div>
  <div class="pin">
    <img src="http://wow.zamimg.com/uploads/screenshots/normal/67029.jpg" width="230"/>
    <p>
    <a href="#" rel="item=33283">Old Ironjaw</a>
    </p>
    <span class="details">
      80 people <a href="#">want</a>,
      45 people <a href="#">have</a>.
    </span>
    </a>
  </div>
{% endblock %}
