{% extends "main/lootview.html" %}

{% load main_extras %}

{% block hero %}{% endblock %}

{% block toptext %}
{% if not user.is_authenticated and items|length > 0 %}
<div class="login-plea">
You are not logged in.  Choose &amp; save your gear by <a href="#" class="js-login">logging in</a> or <a href="#" class="js-login">registering</a>.
</div>
{% endif %}

{% if items|length > 0 %}
<div id="stats" class="stats">
</div>
<div id="user-operations" class="user-operations">
<form class="form form-inline">
<input id="items-filter" class="input-small search-query" type="text" placeholder="filter" />
or
<button class="btn btn-success js-add-pin">+ Add an Item</a>
</form>
</div>
{% endif %}

{% if items|length < 1 %}
<div class="nothing-saved">
  <h2>There's nothing here right now.  <a href="#" class="js-add-pin">Add something</a> or <a href="#" class="js-login">log in</a>.</h2>
  <!--<a href="#add-item" role="button" class="btn" data-toggle="modal">Launch demo modal</a>-->
</div>
{% endif %}

{% endblock %}

{% block pins %}
{% for item in items %}
  <div class="pin" data-item-name="{{ item.name|lower }}">
    {% if tab == 'my_loot' %}
    <div class="delete-pin" data-item-type="{{ item.item_type }}" data-item-id="{{ item.item_id }}"><a href="#">×</a></div>
    {% endif %}
    {% if item.image.path %}
      <a href="{{ item.image.path }}" title="{{ item.name }}" data-title-id="title-{{forloop.counter}}" class="image-box fancybox" rel="gallery">
      <img src="{{ item.image.path }}" border="1" />
    {% else %}
      <a href="/media/images/unavailable.png" title="{{ item.name }}" data-title-id="title-{{forloop.counter}}" class="image-box fancybox" rel="gallery">
      <img src="/media/images/unavailable.png" border="1" />
    {% endif %}
    </a>
    <div id="title-{{forloop.counter}}" style="display:none;">
      {% if item.image.path %}
      <div class="attribution">
      photo by <a href="http://www.wowhead.com/user={{ item.image.attribution }}" target="_blank">{{ item.image.attribution }}</a> of <a href="http://wowhead.com" target="_blank">wowhead</a>
      </div>
      {% endif %}
      <h3>
        <strong>
          <a href="#" rel="{{ item.item_type }}={{ item.item_id }}">{{ item.name }}</a>
        </strong>
      </h3>
      <h3 class="wants-and-haves">
      {{ item.wants }} people <a href="#" class="js-item-want" data-item-type="{{ item.item_type }}" data-item-id="{{ item.item_id }}">want</a>,<wbr>
      {{ item.haves }} people <a href="#" class="js-item-have" data-item-type="{{ item.item_type }}" data-item-id="{{ item.item_id }}">have</a>.
      </h3>

      <div class="comments">
        {% for comment in comments_by_item|lookup:item %}
        <em>{% if comment.user %}{{ comment.user }}{% else %}anonymous{%endif%}</em> says: {{ comment.comment }}.<br>
        {% endfor %}
      </div>
    </div>  {# END FANCYBOX CODE #}
    <p>
    <a href="#" rel="{{ item.item_type }}={{ item.item_id }}">{{ item.name }}</a>
    </p>
    <span class="details">
      {{ item.wants }} people <a href="#" class="js-item-want" data-item-type="{{ item.item_type }}" data-item-id="{{ item.item_id }}">want</a>,<wbr>
      {{ item.haves }} people <a href="#" class="js-item-have" data-item-type="{{ item.item_type }}" data-item-id="{{ item.item_id }}">have</a>.
    </span>
    </a>
  </div>
{% endfor %}
{% endblock %}

{% block bottom %}
{{ block.super }}
{# Add Item Modal #}
<div class="modal hide" id="add-item" tabindex="-1" role="dialog" aria-labelledby="add-item-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="add-item-label">Add gear or a mount</h3>
  </div>
  <div class="modal-body">
    <form class="form form-horizontal">
      <div class="control-group">
        <label class="control-label" for="add-item-id">
          <strong>Item or mount name:</strong>
        </label>
        <div class="controls">
          <input id="add-item-id" type="text" placeholder="">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="add-item-comment">
          Comment (optional):
        </label>
        <div class="controls">
          <input id="add-item-comment" type="text" placeholder="">
        </div>
      </div>
    </form>
    <div id="add-item-loader" style="display:none;">
      <img src="/media/images/loader.gif"/>
    </div>
    <div id="add-item-image-container" class="image-container">

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary disabled btn-add-item">Add Item</button>
  </div>
</div>

{# Success pseudo-modal #}
<div id="quick-message-dialog" class="quick-message" style="display:none;">
  <span></span>
  <div>
    <a id="quick-message-dialog-hide" href="#">Ok</a>
  </div>

</div>
{% endblock %}
